body{
	background-color: gray;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}








#menu-container{
	margin-left: 20%;
	margin-right: 20%;
}

ul#menu li {
	padding: 10px;
	font: 20px;
	background-color: black;
	color: white;
    display:inline;
}
